Repository NobbZ/nixos-config: changes, and which lefthook commands are due for each by the changed paths.
All: formatting, linting

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    formatting:
      glob: "*.nix"
      run: nixpkgs-fmt --check {all_files}

    linting:
      glob: "*.nix"
      exclude: nix/sources.nix
      run: nix-linter {all_files}

flake.lock: Update
  flake.lock
Due: none

get rid of double channel in input
  flake.lock
  flake.nix
  hosts/default.nix
Due: formatting, linting

elixir-ls: 0.6.3 -> 0.6.4
  Makefile
  packages/elixir-lsp/source.json
Due: none

version: init module
  modules/default.nix
  modules/version.nix
Due: formatting, linting

version: enable for all hosts
  hosts/delly-nixos.nix
  hosts/nixos.nix
  hosts/tux-nixos.nix
Due: formatting, linting

mkSystem: rewrite into a function taking module list
  hosts/default.nix
Due: formatting, linting

remove original host files
  hosts/delly-nixos.nix
  hosts/nixos.nix
  hosts/tux-nixos.nix
Due: formatting, linting

remove niv-generated files
  nix/sources.json
  nix/sources.json.bak
  nix/sources.nix
Due: formatting

rewrite overlays.nix
  overlays.nix
Due: formatting, linting

instantiate new compat overlay in pre-commit
  lefthook.yml
Due: none

remove commented git-hook
  lefthook.yml
Due: none

remove julia from home.packages
  home.nix
Due: formatting, linting

remove nixfmt from home.packages
  home.nix
Due: formatting, linting

remove niv from home.packages
  home.nix
Due: formatting, linting

remove all julia versions from overlay
  nix/myOverlay/default.nix
Due: formatting, linting

install cachix binary
  modules/cachix.nix
Due: formatting, linting

remove optional imports of secrets
  home.nix
Due: formatting, linting

fix missing 'magit' error
  profiles/development/default.nix
Due: formatting, linting

repair modules
  modules/default.nix
Due: formatting, linting

elixir-ls: 0.6.4 -> 0.6.5
  Makefile
  packages/elixir-lsp/source.json
Due: none

add mysql workbench
  hosts/nixos.nix
Due: formatting, linting

elixir-ls: remove warning about using 'stdenv.lib'
  packages/elixir-lsp/fetch-mix-deps.nix
Due: formatting, linting
